<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>XPCService</key>
	<dict>
		<key>EnvironmentVariables</key>
		<dict/>
		<key>JoinExistingSession</key>
		<false/>
		<key>RunLoopType</key>
		<string>dispatch_main</string>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
